:root {
    --primary-color: #199522;
    --secondary-color: #db4938;
    --background-color: #fdfdfd;
    --font-stack: "Nunito", sans-serif;
    --base-font-size: 1rem;
    --base-spacing: 0.5rem;
    --card-width: 25rem;
    --card-height: 25rem;
    --image-height: 20rem;
    --grid-gap: 1rem;
    --border-radius: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-color);
    font-family: var(--font-stack);
    font-size: var(--base-font-size);
}

main {
    max-width: 900px;
    margin: auto;
    padding: var(--base-spacing);
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: var(--base-spacing);
}

h1 {
    color: var(--primary-color);
    margin-bottom: var(--base-spacing);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
    grid-gap: var(--grid-gap);
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: var(--base-spacing) 0;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: var(--card-width);
    height: var(--card-height);
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: var(--border-radius);
    margin: auto;
    overflow: hidden;
}

.card--image {
    width: 100%;
    height: var(--image-height);
    object-fit: cover;
}

.card--title {
    color: #222;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: var(--base-spacing);
}

.card--link {
    text-decoration: none;
    background: var(--secondary-color);
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 20px;
}
