@import url('https://fonts.cdnfonts.com/css/eurostile');

:root {
    --main-bg-color: #3399FF;
    --main-font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    --main-font-color: #999999;
    --main-font-size-small: small;
    --main-font-weight-normal: normal;
    --main-text-transform-lowercase: lowercase;
    --main-margin: 0;
    --main-padding: 0;
    --main-border-none: none;
    --logo-width: 20em;
    --logo-height: 10rem;
    --menu-margin: 50px 30px 0 0;
    --menu-width: 480px;
    --menu-height: 100px;
    --posts-width: 32em;
    --posts-padding: 0 30px 0 0;
    --sidebar-height: 40px;
    --sidebar-width: 240px;
    --boxed-width: 240px;
    --boxed-padding: 0 0 2em 0;
    --footer-width: 200px;
    --footer-padding: 0 520px 0 20px;
}

@media (min-width: 1201px) {
    /* Large screens */
    :root {
        --main-font-size-small: large;
        --main-font-weight-normal: normal;
        --main-width: 100vw;
        --menu-margin: 0;
        --menu-width: 640px;
        --menu-height: 120px;
        --logo-width: 320px;
        --boxed-width: 320px;
        --logo-height: 200px;
        --sidebar-height: 57px;
        --posts-width: 640px;
        --footer-width: 200px;
        --footer-padding: 0 520px 0 20px;
    }

    #header {
        min-height: 320px;
    }

    #content {
        margin: 20px auto;
    }

    #logo {
        padding: 24px;
    }

    #menu {
        padding-left: 5%;
    }

    #posts {
        margin-left: 10%;
    }

    #sidebar {
        height: 0px;
    }

    #phone, #small, #medium {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* Medium screens */
    #logo {
        padding: 24px;
    }

    #content {
        margin: 20px auto;
    }

    #posts {
        margin-left: 80px;
    }

    #phone, #small, #large {
        display: none;
    }
}

@media (min-width: 420px) and (max-width: 767px) {
    /* Small screens */
    :root {
        --main-font-size-small: small;
        --main-font-weight-normal: normal;
        --main-width: 100vw;
        --menu-margin: auto;
        --menu-width: 480px;
        --menu-height: 70px;
        --logo-width: 280px;
        --logo-height: 150px;
        --posts-width: 65%;
        --posts-padding: 0 30px 0 0;
        --footer-width: 200px;
        --footer-padding: 0 520px 0 20px;
    }

    #header {
        flex-direction: column;
        align-items: flex-start;
    }

    #sidebar {
        display: none;
    }

    #logo {
        padding: 0 0 50px 20px;
    }

    #menu {
        font-size: small;
        padding-left: 0px;
    }

    #content {
        margin: 20px 0 0 100px;
    }

    #posts {
        margin-left: 30px;
    }

    #phone, #medium, #large {
        display: none;
    }
}

@media (max-width: 420px) {
    /* Phone screens */
    :root {
        --main-font-size-small: small;
        --main-font-weight-normal: normal;
        --main-width: 100vw;
        --menu-margin: auto;
        --menu-width: 320px;
        --menu-height: 45px;
        --logo-width: 260px;
        --logo-height: 160px;
        --posts-width: 65%;
        --posts-padding: 0 30px 0 0;
        --footer-width: 200px;
        --footer-padding: 0 520px 0 20px;
    }

    #header {
        flex-direction: column;
        align-items: flex-start;
        height: 300px
    }

    #menu {
        font-size: x-small;
        padding-left: 0px;
    }

    #logo {
        padding: 20px;
    }

    #sidebar {
        display: none;
    }

    #content {
        margin: 0;
    }

    #small, #medium, #large {
        display: none;
    }
}

body {
    min-width: 320px;
    overflow-x: hidden;
    margin: var(--main-margin);
    padding: var(--main-padding);
    background: url('images/body.png') no-repeat center center fixed;
    background-size: cover;
    font: var(--main-font-weight-normal) var(--main-font-size-small) var(--main-font-family);
    color: var(--main-font-color);
}

main {
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    background: rgba(51, 153, 255, 0.5) url('images/bg.svg') repeat-y center center fixed;
    overflow-x: hidden;
}

h1, h2, h3 {
    font: var(--main-font-weight-normal) var(--main-font-size-small) 'Eurostile', sans-serif;
    margin: 0;
    text-transform: var(--main-text-transform-lowercase);
    font-weight: var(--main-font-weight-normal);
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

img {
    border: var(--main-border-none);
}

a {
    color: #333333;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

/* Header */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--main-width);
    margin: 0 auto;
}

/* Logo */
#logo {
    width: var(--logo-width);
    height: var(--logo-height);
    background: url(images/logo.svg) no-repeat;
    background-size: cover;
}

#logo h1 {
    padding: 50px 0 0 20px;
    letter-spacing: -.05em;
    font-size: 4em;
}

#logo h2 {
    font-size: 1.8em;
    text-align: center;
}

#logo a {
    text-decoration: none;
    color: #3399FF;
}

/* Menu */
#menu {
    width: var(--menu-width);
    height: var(--menu-height);
    /* margin: var(--menu-margin); */
    background: url(images/menu.svg)  no-repeat;
}

#menu ul {
    padding: 0 0 0 1em;
    list-style: none;
}

#menu li {
    display: inline;
}

#menu a {
    display: block;
    float: left;
    padding: .5em .7em;
    text-decoration: none;
    text-transform: var(--main-text-transform-lowercase);
    letter-spacing: -1px;
    font-size: 1.5em;
    color: white;
}

#menu a:hover {
    background: orange;
}

/* Content */
#content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: var(--main-width);
    margin: 0 auto;
}

/* Posts */
#posts {
    width: var(--posts-width);
    padding: var(--posts-padding);
}

.post {
    margin-bottom: 10px;
}

.post .title {
    padding: 0 0 5px 20px;
    color: orange;
}

.post .meta {
    margin-left: 10px;
    padding: 10px 20px;
    background: url(images/sub.svg) no-repeat;
    font-size: smaller;
}

.post .meta p {
    margin: 0;
}

.post .story {
    padding: 10px 20px;
    line-height: 180%;
}

/* Sidebar */
#sidebar {
    width: 200px;
}

/* Boxed */
#sidebar .boxed {
    width: var(--boxed-width);
    padding: var(--boxed-padding);
    background: url(images/bottom.svg) no-repeat left bottom;
}

#sidebar .boxed h2 {
    height: var(--sidebar-height);
    padding: 10px 0 0 70px;
    background: url(images/top.svg) no-repeat;
    font-size: 2em;
    color: white;
}

#sidebar .boxed .content {
    color: white;
    background: #ffcc00;
    padding: 2em 0 2em 0;
}

#sidebar .boxed ul {
    margin: 0;
}

#sidebar .boxed a {
    text-decoration: none;
    color: #3399FF;
}

#sidebar .boxed a:hover {
    color: white;
}

/* Footer */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    z-index: 100;
}
